# Node modules & builds
node_modules/
**/node_modules/
dist/
**/dist/
dist-ssr/
**/dist-ssr/
*.local
.env
.env.*
.env.local
**/.env*

# Logs
logs/
**/logs/
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

